body{
  font-family: 'Encode Sans Condensed', sans-serif;
  background-color: #ecf0f1;
  color: #34495e;
}

/* nav bar */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: transparent;
}

.navbar-toggle{
  border: none;
  color: #ecf0f1;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #34495e;
}

.navbar-toggle:hover {
    background: transparent;
}
.navbar{
  background: rgba(236, 240, 241,0.8);
  border: none;
  padding-top: 5px;

}
.nav.navbar-nav li a {
  font-family: 'Encode Sans Condensed', sans-serif;
  text-align: right;
  font-size: 1.4em;
  color: #34495e;
  padding-top: 10px;
}

.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus,
.nav.navbar-nav li a:active
{
  color: #d35400;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover{
  font-family: 'Bitter', serif;
  font-size: 1.8em;
  color: #34495e;
  padding-top: 10px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

#m{
  color: #d35400;
}

.navbar-default .navbar-brand .fa-code{
  color:#34495e;
}

a{
  outline: 0;
}

.main{
  background-image: url("../images/lorna2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ecf0f1;
  text-shadow: 2px 1px 2px rgba(44, 62, 80, 0.8);
}

.vertical-center{
  min-height: 60%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  }

#titlepage{
  text-align: center;
}

#my-name{
  font-family: 'Zilla Slab Highlight', sans-serif;
  font-size: 6em;
}

.b{
  font-weight: bold;
}

#web-dev{
  padding-bottom: 20px;
}

.fa{
  color:#333333;
}

.title-icon{
  padding: 20px 20px 0px 20px;
  color: #fff;
  text-align: center;
}

.about{
  margin-top: 100px;
}

#about-title{
  color: #d35400;
  margin-left: 30px;
  padding-bottom: 20px;
  max-width: 800px;
  margin: auto;
  font-size: 2.4em;
}

.bold{
  color: #d35400;
  font-weight: bold;
}

p{
  font-size: 1.3em;
  max-width: 800px;
  margin: auto;
  padding-bottom: 10px;'
  color: #34495e;
}

#last{
  padding-bottom: 100px;
  border-bottom: 5px solid #d35400;
}

.row{
  text-align: center;
}

#projects-title{
  font-size: 2.4em;
  color: #d35400;
  max-width: 800px;
  margin: 100px auto;
  margin-bottom: 50px;
}

.fa-codepen {
  padding: 0px 0px 0px 10px;
  color: #fff;
  text-align: center;
}

.fa-github-alt {
  padding: 0px 0px 0px 10px;
  color: #333;
  text-align: center;
}


#proj1{
  position: relative;
  background-image: url("../images/cssui.png");
  background-size: cover;
  min-height: 300px;
  min-width: 350px;
  background-position: center;
}

#proj2{
  background-image: url("../images/calc.png");
  background-size: cover;
  min-height: 300px;
  min-width: 350px;
  background-position: center;
}

#proj3{
  background-image: url("../images/twitch.png");
  background-size: cover;
  min-height: 300px;
  min-width: 350px;
  background-position: center;
}

#proj4{
  background-image: url("../images/weatherapp.png");
  background-size: cover;
  min-height: 300px;
  min-width: 350px;
  background-position: center;
}

#proj5{
  background-image: url("../images/wiki.png");
  background-size: cover;
  min-height: 300px;
  min-width: 350px;
  background-position: center;
}

#proj6{
  background-image: url("../images/etch.png");
  background-size: cover;
  min-height: 300px;
  min-width: 350px;
  background-position: center;
}
#proj7{
  background-image: url("../images/quote.png");
  background-size: cover;
  min-height: 300px;
  min-width: 350px;
  background-position: center;
}

.overlay-text{
  margin-top: 50px;
}

.btn{
  margin-top: 100px;
  width: 120px;
  font-size: 18px;
}

footer{
  color: #34495e;
  text-align: center;
  min-height: 50px;
  font-size: 1.5em;
  padding-top: 10px;
  margin-top: 50px;
}

.footer-icon{
  color: #34495e;
}


 /*effects */
.overlay{
 background: rgba(44, 62, 80,0.8);
 left: 0;
 right: 0;
 position: absolute;
 font-family: 'Encode Sans Condensed', sans-serif;
 font-size: 25px;
 color: #fff;
 font-weight: bold;
 display: none;
 height: 100%;
 padding-top: 15px;
}




@media screen and (max-width:  780px)
{
  .vertical-center{
    min-height: 100%;
    min-height: 100vh;
  }
  #my-name
  {
    font-size: 4em;
    font-family: 'Bitter', serif;
    text-shadow: 0px 1px 2px rgba(44, 62, 80, 0.8);
  }
  .nameline{
    display: none;
  }
  .about{
    margin-top: 90px;
  }
  #web-dev, #projects-title, #about-title{
    font-size: 1.8em;
  }
  #projects-title{
    margin-top: 70px;
  }
  #last{
    padding-bottom: 70px;
  }

}
