body {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif; }

.navbar-light {
  background-color: #091017;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  z-index: 3; }
  .navbar-light .navbar-toggler {
    border: none;
    margin-left: 10px;
    z-index: 4;
    background-color: transparent;
    height: 40px;
    width: 40px;
    cursor: pointer; }
    .navbar-light .navbar-toggler.collapsed .fa-plus {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg); }
    .navbar-light .navbar-toggler:focus {
      outline: none; }
    .navbar-light .navbar-toggler .fa-plus {
      color: #1abc9c;
      z-index: 3;
      transition: 0.2s;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      display: block; }
  .navbar-light .navbar-nav .github-link {
    max-width: 95px; }
  .navbar-light .navbar-nav .codepen-link {
    max-width: 112px; }
  .navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color: #f2f2f2;
    margin-left: 50px;
    letter-spacing: 3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    font-family: 'Open Sans', sans-serif; }
    .navbar-light .navbar-nav .nav-link:hover {
      border-bottom: 2px solid #1abc9c;
      color: #1abc9c; }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
      outline: none;
      box-shadow: none; }

.navbar-light.active-nav {
  background-color: #f2f2f2; }
  .navbar-light.active-nav .nav-link {
    color: #2D2D2D; }
    .navbar-light.active-nav .nav-link:hover {
      border-bottom: 2px solid #1abc9c;
      color: #1abc9c; }
    .navbar-light.active-nav .nav-link:focus, .navbar-light.active-nav .nav-link:active {
      outline: none;
      box-shadow: none; }

/*DEFAULT JUMBO/CONTAINER STYLING START*/
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  background-color: #f2f2f2;
  margin: 0;
  color: #2D2D2D;
  padding-top: 50px; }

.spacing {
  letter-spacing: 5px; }

.spacingP {
  letter-spacing: 3px;
  font-size: 1.1em; }

.largertxt {
  color: #2D2D2D;
  text-align: justify;
  font-size: 1.2em; }

.home {
  min-height: 100%;
  min-height: 100vh;
  background-color: #091017;
  text-align: center;
  color: #f2f2f2;
  border-radius: 0px; }
  .home .my-name, .home .main-text {
    position: relative;
    text-align: left;
    margin: 10px auto;
    padding: 20px;
    letter-spacing: 5px;
    z-index: 1;
    font-family: 'Catamaran', sans-serif; }
    .home .my-name .hl, .home .main-text .hl {
      color: #1abc9c; }
  .home .my-name {
    font-size: 4.3em;
    letter-spacing: 8px;
    text-align: left;
    font-weight: 900; }
  .home .main-text {
    font-size: 2.2em;
    font-weight: 800; }
  .home .fa-angle-double-down {
    color: #1abc9c;
    position: absolute;
    bottom: 40px;
    font-size: 2.5em;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transition: 0.2s;
    cursor: pointer; }
    .home .fa-angle-double-down:hover {
      color: #f2f2f2;
      transform: translateY(10%);
      -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%); }
  .home .top-button {
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #16a085;
    color: #f2f2f2;
    position: fixed;
    right: -60px;
    bottom: -80px;
    opacity: 0;
    transition: all 0.5s;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    padding: 0px;
    z-index: 5;
    cursor: pointer; }
    .home .top-button:focus {
      outline: none; }
    .home .top-button .fa-angle-double-up {
      position: absolute;
      margin-left: -37px;
      margin-top: -57px; }
  .home .top-button.active-top {
    opacity: 0.9;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1); }
    .home .top-button.active-top:hover {
      background-color: #1abc9c; }

.about {
  overflow: hidden;
  padding: 75px 50px 50px 50px; }
  .about .high-light {
    letter-spacing: 2px;
    color: #16a085;
    font-weight: bold; }
  .about .my-photos-title {
    margin-top: 50px; }
  .about .my-photos-one {
    transform: translateX(-60%) scale(0.9);
    -webkit-transform: translateX(-60%) scale(0.9);
    -ms-transform: translateX(-60%) scale(0.9); }
  .about .my-photos-two {
    transform: translateX(60%) scale(0.9);
    -webkit-transform: translateX(60%) scale(0.9);
    -ms-transform: translateX(60%) scale(0.9); }
  .about .slide-in.activeL {
    transform: translateX(0%) scale(1);
    -webkit-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    opacity: 1; }
  .about .slide-in.activeR {
    transform: translateX(0%) scale(1);
    -webkit-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    opacity: 1; }
  .about .slide-in {
    opacity: 0;
    transition: all 1.5s; }
  .about .pic-row-one {
    min-width: 100%;
    min-height: 90%;
    border-radius: 0%;
    margin-top: 15px; }
  .about .pic-row-two {
    min-width: 100%;
    min-height: 90%;
    border-radius: 0%;
    margin-top: 25px; }

.projects {
  border-top: 2px solid #eaebec;
  padding-top: 80px; }
  .projects .project-text-link {
    letter-spacing: 2px;
    color: #16a085;
    cursor: pointer; }
    .projects .project-text-link:hover {
      color: #2D2D2D; }
    .projects .project-text-link:focus {
      outline: none; }
  .projects .projects-info {
    margin-bottom: 50px;
    max-width: 800px; }
  .projects .project-row {
    border-bottom: 2px solid #eaebec; }
    .projects .project-row:last-of-type {
      border-bottom: none; }
  .projects .project-text {
    margin: 60px 10px 10px 10px;
    display: block;
    height: auto; }
  .projects .image-col {
    display: block;
    height: auto;
    border: 2px solid #eaebec;
    margin: 50px auto;
    max-height: auto;
    max-width: 95%; }
  .projects .button-container {
    text-align: center; }
    .projects .button-container .live, .projects .button-container .code {
      font-weight: bold;
      background-color: #16a085;
      color: #f2f2f2;
      width: 75px;
      margin: 10px 10px 50px 10px;
      border-radius: 3px;
      box-shadow: 0px 8px 8px -5px rgba(0, 0, 0, 0.3);
      cursor: pointer; }
      .projects .button-container .live:hover, .projects .button-container .code:hover {
        background-color: #1abc9c;
        color: #f2f2f2; }
      .projects .button-container .live:focus, .projects .button-container .code:focus {
        outline: none; }

footer {
  color: #2D2D2D;
  text-align: center;
  padding: 15px;
  font-size: 0.9em; }

@media screen and (min-width: 760px) and (max-width: 1366px) {
  .home .my-name {
    margin-top: 0;
    font-size: 3.5em; }
  .home .main-text {
    font-size: 1.8em; }
  .home .fa-angle-double-down {
    position: absolute;
    bottom: 50px; }

  .about {
    padding-top: 80px;
    padding-bottom: 20px; }

  .pic-row-one, .pic-row-two {
    width: 150px; }

  .col-sm-12 {
    padding: 0px 15px 0px 15px; }

  .projects {
    padding-top: 50px; } }
@media screen and (max-width: 760px) and (orientation: landscape) {
  .my-name {
    margin-top: 100px; }

  .fa-angle-double-down {
    display: none; } }
@media screen and (max-width: 760px) {
  .navbar-light {
    background-color: #f2f2f2;
    padding-top: 8px;
    padding-bottom: 8px; }
    .navbar-light .navbar-nav .nav-link {
      color: #2D2D2D;
      margin-left: 8px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold; }
    .navbar-light .navbar-nav .github-link {
      max-width: 82px; }
    .navbar-light .navbar-nav .codepen-link {
      max-width: 99px; }
    .navbar-light .fa-plus {
      font-size: 1em; }

  .jumbotron {
    padding: 0; }

  .largertxt {
    text-align: left;
    font-size: 1em; }

  .spacing {
    font-size: 1.4em;
    padding-top: 5px; }

  .spacingP {
    font-size: 1.1em; }

  .home .my-name {
    font-size: 2.5em;
    margin-top: 0; }
  .home .main-text {
    font-size: 1.3em; }
  .home .fa-angle-double-down {
    position: absolute;
    bottom: 20px;
    font-size: 1.6em;
    color: #1abc9c; }
  .home .top-button {
    width: 45px;
    height: 45px;
    bottom: 8px;
    right: 8px; }
    .home .top-button.active-top {
      opacity: 0.9; }
    .home .top-button .fa-angle-double-up {
      font-size: 2em;
      margin-left: -10px;
      margin-top: -17px; }

  .about {
    padding: 50px 0px 50px 0px; }

  .my-photos-title, .my-photos {
    display: none; }

  .col-sm-12 {
    padding: 0px 15px 0px 15px;
    text-align: left; }

  .projects {
    padding-top: 50px; }
    .projects .project-text {
      margin: 0px; }
    .projects .projects-info {
      margin-bottom: 10px; } }

/*# sourceMappingURL=index.css.map */
