$background: #12283a;
$highlight: #4dc0b5;

body {
  position: relative;
  background-color: $background;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.highlight {
  color: $highlight;
  font-weight: 500;
}

.show-details {
  opacity: 1;
  transition: all 0.5s;
}

.hide-details {
  opacity: 0;
  transition: all 0.5s;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  .nav-bar {
    width: 100%;
    .logo-container {
      margin: 10px;
      .nav-logo {
        height: 40px;
        width: 40px;
      }
    }
  }
  .outer-details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #fefefe;
    .inner-details-container {
      flex: 1;
      position: relative;
      #name-details-container {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .details {
          padding-bottom: 30px;
        }
      }
      #about-details-container {
        position: absolute;

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .details {
          padding-bottom: 70px;
        }
      }
      #project-details-container {
        position: absolute;

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .details {
          padding-bottom: 20px;
        }
      }
    }
    .button-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 50px;
      font-weight: 500;
      .button {
        padding: 0px 20px 0px 20px;
        cursor: pointer;
        &:hover {
          color: $highlight;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1440px) {
  .button-container {
    font-size: 1rem;
  }
  #project-details-container {
    top: 20%;
    font-size: 1.5rem;
    .details {
      width: 70%;
    }
  }
  #about-details-container {
    top: 20%;
    font-size: 1.5rem;
    .details {
      width: 70%;
    }
  }
  #name-details-container {
    top: 25%;
    font-size: 3.5rem;
    .details {
      width: 70%;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .button-container {
    font-size: 1rem;
  }
  #project-details-container {
    top: 30%;
    font-size: 1.1rem;
    .details {
      width: 90%;
    }
  }
  #about-details-container {
    top: 20%;
    font-size: 1.1rem;
    .details {
      width: 90%;
    }
  }
  #name-details-container {
    top: 30%;
    font-size: 1.8rem;
    .details {
      width: 80%;
    }
  }
}

// /* Smartphones (portrait and landscape) ----------- */
// @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
//   /* Styles */
//   }

//   /* Smartphones (landscape) ----------- */
//   @media only screen and (min-width : 321px) {
//   /* Styles */
//   }

//   /* Smartphones (portrait) ----------- */
//   @media only screen and (max-width : 320px) {
//   /* Styles */
//   }

//   /* iPads (portrait and landscape) ----------- */
//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
//   /* Styles */
//   }

//   /* iPads (landscape) ----------- */
//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
//   /* Styles */
//   }

//   /* iPads (portrait) ----------- */
//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
//   /* Styles */
//   }
//   /**********
//   iPad 3
//   **********/
//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
//   /* Styles */
//   }

//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
//   /* Styles */
//   }
//   /* Desktops and laptops ----------- */
//   @media only screen  and (min-width : 1224px) {
//   /* Styles */
//   }

//   /* Large screens ----------- */
//   @media only screen  and (min-width : 1824px) {
//   /* Styles */
//   }

//   /* iPhone 4 ----------- */
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
//   /* Styles */
//   }

//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
//   /* Styles */
//   }

//   /* iPhone 5 ----------- */
//   @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   /* iPhone 6, 7, 8 ----------- */
//   @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   /* iPhone 6+, 7+, 8+ ----------- */
//   @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   /* iPhone X ----------- */
//   @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   /* iPhone XS Max, XR ----------- */
//   @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   /* Samsung Galaxy S3 ----------- */
//   @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   /* Samsung Galaxy S4 ----------- */
//   @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   /* Samsung Galaxy S5 ----------- */
//   @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }
